body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
table {
  border: solid black 3px;
  border-collapse: collapse;
}
th.wit {
  background-color: white;
}
table th {
  background-color: lightgrey;
  border: solid black 1px;
  height: 50px;
  margin: 4px;
}
img.foto {
  height: 100%;
}
td {
  border: black 1px solid;
  height: 50px;
  margin: 4px;
}
.groen {
  background-color: green;
}
.rood {
  background-color: red;
}
