body {
  font-family: Arial, sans-serif;
  color: #00283c;
  font-size: medium;
}

h1 {
  font-size: 2em;
  color: #fa6432;
}
h2 {
  color: #00283c;
  padding-top: 10px;
  font-size: 1.5em;
}

.foto {
  width: 200px;
  margin: 20px;
}
a {
  color: #00283c;
}
a:hover {
  color: #fa6432;
}
